.address {
  width: 100%;
  max-width: 404px;
  margin-right: 56px;

  @media (max-width: 1199px) {
    margin-top: 74px;
    margin-left: 84px;
    max-width: 460px;
  }

  @media (max-width: 767px) {
    margin: 133px 0 0;
  }
}

.address h2 {
  margin-top: 57px;
  margin-bottom: 37px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    margin-left: 4px;
    margin-bottom: 32px;
    font-size: 42px;
    line-height: 50px;
  }

  @media (max-width: 767px) {
    margin: 0;
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 38px;
  }
}

.address__row {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 16px;
  column-gap: 60px;

  @media (max-width: 1199px) {
    row-gap: 18px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.address__row::before {
  position: absolute;
  content: "";
  left: 58%;
  bottom: 6%;
  width: 2px;
  height: 91%;
  background: #74819c;

  @media (max-width: 1199px) {
    height: 129px;
    left: 58.5%;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.address__left-block {
  display: grid;
  gap: 16px;
}

.address__card {
  margin-left: 4px;
  display: inline-block;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.address__card h4 {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #102654;

  @media (max-width: 1199px) {
    font-size: 20px;
  }
}

.address__card p {
  margin: 0;
  margin-top: 3px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #102654;

  @media (max-width: 1199px) {
    margin: 6px 0 0;
    font-size: 18px;
    line-height: 152.34%;
  }
}

.address__card a {
  margin: 0;
  margin-top: 3px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #102654;
  transition: all 0.3s;

  @media (max-width: 1199px) {
    margin: 6px 0 0;
    font-size: 18px;
    line-height: 152.34%;
  }

  &:hover,
  &:focus {
    color: #868686;
  }
}

.address__right-block {
  display: grid;
  gap: 16px;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.address__card--two {
  @media (max-width: 767px) {
    order: 1;
  }
}

.address__card--three {
  @media (max-width: 767px) {
    order: 0;
  }
}

.address__card--four {
  @media (max-width: 767px) {
    order: 2;
  }
}
