.advantages {
  padding: 0 var(--side-offset, 20px);
  padding-bottom: 200px;
  padding-top: 145px;
  background: #f8f9fc;

  @media (max-width: 1199px) {
    padding-top: 92px;
    padding-bottom: 90px;
  }

  @media (max-width: 767px) {
    padding: 0;
    padding-bottom: 62px;
    padding-top: 64px;
  }
}

.advantages__title {
  margin: 0;
  justify-content: center;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
    align-items: center;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
  }
}

.advantages__center-block {
  width: 100%;
  max-width: 240px;
  height: 307px;
  margin: auto auto;
  padding: 0 34px;
  background: #1c3374;
  grid-area: centralblock;

  @media (max-width: 1199px) {
    max-width: 442px;
    height: 239px;
  }

  @media (max-width: 767px) {
    margin-top: 42px;
    margin-bottom: 45px;
  }
}

.advantages__center-block h2 {
  margin: 0;
  margin-top: 60px;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin: 39px 0 0;
  }

  @media (max-width: 767px) {
    margin: 45px 0 0;
  }
}

.advantages__center-block h3 {
  margin: 0;
  margin-top: 10px;
  justify-content: center;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin: 5px 0 0;
    font-size: 22px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.advantages__center-block p {
  margin: 0;
  margin-top: 33px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 180px;
  }

  @media (max-width: 767px) {
    margin: 11px auto 0;
  }
}

.advantages__row {
  position: relative;
  margin: 0 auto;
  margin-top: 45px;
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 164px;
  grid-template-areas:
    "card1 centralblock card3"
    "card2 centralblock card4";

  @media (max-width: 1199px) {
    margin: 42px auto 0;
    max-width: 678px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 300px 90px;
    grid-template-areas:
      "card1 card3"
      "centralblock centralblock"
      "card2 card4";
  }

  @media (max-width: 767px) {
    margin: 46px auto 0;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.advantages__row::before {
  position: absolute;
  top: 50%;
  content: "";
  width: 340px;
  height: 2px;
  background: rgba(209, 10, 66, 0.2);

  @media (max-width: 1199px) {
    display: none;
  }
}

.advantages__row::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 340px;
  height: 2px;
  background: rgba(209, 10, 66, 0.2);

  @media (max-width: 1199px) {
    display: none;
  }
}
