.comment {
  padding: 0 var(--side-offset, 20px);
  padding-top: 22px;
  padding-bottom: 120px;

  @media (max-width: 1199px) {
    padding-top: 7px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-bottom: 70px;
  }
}

.comment__title {
  margin-bottom: 37px;
  justify-content: center;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 50px;
  }

  @media (max-width: 767px) {
    margin-top: 7px;
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.comment__block {
  margin: 0 auto;
  padding: 40px 62px;
  display: flex;
  max-width: 560px;
  background: #1c3374;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

  @media (max-width: 1199px) {
    padding: 40px 65px;
    max-width: 566px;
  }

  @media (max-width: 767px) {
    position: relative;
    padding: 25px;
    max-width: none;
    width: calc(100% - 30px);
    min-height: 335px;
  }
}

.comment__image img {
  margin-right: 28px;
  border-radius: 50%;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}

.comment__image {
  display: block;
  margin-top: 22px;
  width: 80px;
  height: 80px;

  @media (max-width: 767px) {
    position: absolute;
    margin-top: 0;
    top: 40px;
    left: 41px;
    width: 68px;
    height: 68px;
  }
}

.comment__text {
  max-width: 328px;
  margin-left: 28px;

  @media (max-width: 767px) {
    margin-left: 0;
    max-width: none;
  }
}

.comment__text h4 {
  margin: 0;
  margin-top: 14px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 767px) {
    margin: 23px auto 23px 99px;
    line-height: 130%;
    max-width: 62px;
  }
}

.comment__text p {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 767px) {
    margin-bottom: 0;
    text-align: center;
  }
}

.comment__row {
  position: relative;
  display: flex;
  justify-content: center;
}

.comment__swiper {
  max-width: 566px;

  @media (max-width: 767px) {
    width: calc(100% - 64px);
    max-width: none;
  }
}

.comment__navigation {
  position: absolute;
  max-width: 673px;
  top: 50%;
  margin-top: -18px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 767px) {
    max-width: none;
    margin-top: -11px;
    padding: 0;
  }
}

.comment__prev {
  margin: auto 0;
}

.comment__next {
  margin: auto 0;
}

.comment__prev-icon {
  cursor: pointer;
  transition: all 0.2s;

  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.comment__next-icon {
  cursor: pointer;
  transition: all 0.2s;

  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
