.comment {
  padding: 0 var(--side-offset, 20px);
  padding-bottom: 100px;
}

.comment__title {
  justify-content: center;
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;
}

.comment__row {}

.comment__block {
  margin: 0 auto;
  padding: 62px;
  display: flex;
  max-width: 560px;
  background: #1C3374;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);
}

.comment__image img {
  margin-right: 28px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
}

.comment__text {
  max-width: 328px;
}

.comment__text h4 {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.comment__text p {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}