.contest {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 106px;
}

.contest__row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contest__info {
  padding: 87px 78px;
  background: #ED0233;
  width: 100%;
  max-width: 500px;
}

.contest__block {
  display: flex;
  justify-content: space-between;
}

.contest__title {
  margin: 0;
  max-width: 201px;
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 82px;
  line-height: 96%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.contest__date {}

.contest__date-title {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.contest__date-container {
  display: flex;
  border-top: 1px solid #FFFFFF;
  ;
}

.contest__date-number {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.contest__date-month {
  margin: 0;
  margin-left: 7px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  max-width: 40px;
}

.contest__text {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.contest__button {
  display: block;
  padding: 29px 110px;
  margin-top: 25px;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 4px solid #FFFFFF;
}

.contest__image img {
  width: 100%;
  height: 100%;
}

.contest__time {}

.contest__time-title {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.contest__time-numer {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}