.contacts {
  position: relative;
  padding: 0 var(--side-offset, 20px);
  padding-bottom: 64px;
  --grad-stop: 50%;
  overflow: hidden;

  background: {
    image: linear-gradient(90deg,
        rgba(16,
          38,
          84,
          1) var(--grad-stop),
        transparent var(--grad-stop));
  }

  @media (max-width: 1199px) {
    min-height: 648px;
    padding-bottom: 61px;
    --grad-stop: 48%;

    background: {
      image: linear-gradient(180deg,
          rgba(16,
            38,
            84,
            1) var(--grad-stop),
          transparent var(--grad-stop));
    }
  }

  @media (max-width: 767px) {
    --grad-stop: 44.5%;
  }
}

.contacts::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 50%;
  top: 0;
  height: 1px;
  background: #74819c;

  @media (max-width: 1199px) {
    display: none;
  }
}

.contacts__row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}
