.contest {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 106px;

  @media (max-width: 1199px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 70px;
    padding-bottom: 64px;
  }
}

.contest__row {
  display: flex;

  @media (max-width: 1199px) {
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.contest__info {
  padding: 50px 79px;
  background: #ed0233;
  width: 100%;
  max-width: 500px;

  @media (max-width: 1199px) {
    padding: 20px 45px;
    max-width: 292px;
  }

  @media (max-width: 767px) {
    max-width: 290px;
    margin: 0 auto;
  }
}

.contest__block {
  display: flex;
  justify-content: space-between;
}

.contest__title {
  margin: 0;
  margin-top: 15px;
  max-width: 201px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 82px;
  line-height: 96%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin: 32px 0 0;
    max-width: 117px;
    max-height: 91px;
    font-size: 48px;
  }
}

.contest__date {
  margin-top: 30px;

  @media (max-width: 1199px) {
    margin-top: 27px;
  }
}

.contest__date-title {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    font-size: 12px;
  }
}

.contest__date-container {
  position: relative;
  display: flex;
}

.contest__date-container::before {
  position: absolute;
  top: 5px;
  content: "";
  width: 64px;
  height: 1px;
  background: #ffffff;

  @media (max-width: 1199px) {
    top: 1px;
    width: 42px;
  }
}

.contest__date-number {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    font-size: 24px;
  }
}

.contest__date-month {
  margin: 0;
  margin-left: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;
  max-width: 40px;

  @media (max-width: 1199px) {
    margin-left: 5px;
    max-width: 30px;
    line-height: 130%;
    font-size: 10px;
  }
}

.contest__text {
  margin-top: 9px;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 12px;
  }
}

.contest__button {
  display: block;
  padding: 24px 62px;
  margin-top: 25px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: 4px solid #ffffff;
  user-select: none;

  @media (max-width: 1199px) {
    font-size: 10px;
    line-height: 12px;
    padding: 12px 12px;
    max-width: 202px;
    border: 2px solid #ffffff;
  }

  @media (max-width: 767px) {
    margin-bottom: 31px;
  }

  &:hover,
  &:focus {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  }
}

.contest__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contest__image {
  display: block;

  @media (max-width: 1199px) {
    max-width: 386px;
    max-height: 292px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    max-width: 290px;
    height: 292px;
  }
}

.contest__time-title {
  margin: 0;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    margin: -2px 0 0;
    font-size: 12px;
  }
}

.contest__time-numer {
  position: relative;
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #ffffff;

  @media (max-width: 1199px) {
    font-size: 24px;
  }
}

.contest__time-numer::before {
  position: absolute;
  content: "";
  top: 5px;
  width: 88px;
  height: 1px;
  background: #ffffff;

  @media (max-width: 1199px) {
    width: 56px;
    top: 2px;
  }
}
