.contacts {
  padding: 0 var(--side-offset, 20px);
  padding-bottom: 100px;
}

.contacts__row {
  display: flex;
  justify-content: space-between;
}

.form {
  max-width: 410px;
  background: #102654;
}

.form h2 {
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 156%;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.form__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.phone-us {}

.form__button {}

.address {
  width: 100%;
  max-width: 404px;
}

.address h2 {
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;
}

.address__row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.address__row::before {
  position: absolute;
  content: "";
  left: 60%;
  bottom: 0;
  width: 2px;
  height: 102px;
  background: #74819C;
}

.address__left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address__card {
  display: block;
}

.address__card h4 {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #102654;
}

.address__card p {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #102654;
}

.adress__right__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}