.footer {
  padding: 0 var(--side-offset, 20px);
  background: #030A1A;
  padding-top: 27px;
  padding-bottom: 28px;

  @media (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 32px;
  }
}

.footer a {
  color: #FFFFFF;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer__logo {
  margin-top: 12px;
  font-family: 'Alumni Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;

  @media (max-width: 1199px) {
    margin-top: 0;
    font-size: 24px;
  }

  @media (max-width: 767px) {
    position: absolute;
  }
}

.footer__nav {
  width: 500px;

  @media (max-width: 1199px) {
    width: 434px;
  }
}

.footer__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    margin: 0;
    flex-direction: column;
    max-height: 200px;
  }
}

.footer__list a {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.footer__list li {
  margin-left: 40px;

  @media (max-width: 1199px) {
    margin-left: 30px;
  }

  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.footer__list li:first-child {
  @media (max-width: 767px) {
    margin-top: 80px;
  }
}

.footer__socials {
  display: flex;
}

.footer__socials a {
  display: flex;
  margin-right: 11px;
}

.footer__socials a:last-child {
  margin-right: 0;
}