.footer {
  padding: 0 var(--side-offset, 20px);
  background: #030a1a;
  padding-top: 27px;
  padding-bottom: 28px;

  @media (max-width: 1199px) {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  @media (max-width: 767px) {
    padding-bottom: 47px;
  }
}

.footer a {
  color: #ffffff;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: #868686;
  }
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer__logo {
  margin-top: 12px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  user-select: none;

  @media (max-width: 1199px) {
    margin-top: 0;
    font-size: 24px;
  }

  @media (max-width: 767px) {
    position: absolute;
    top: 16px;
    font-size: 20px;
    line-height: 24px;
  }
}

.footer__nav {
  width: 100%;
  max-width: 500px;

  @media (max-width: 1199px) {
    max-width: 434px;
  }
}

.footer__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @media (max-width: 767px) {
    margin: 0;
    flex-direction: column;
    max-height: 150px;
  }
}

.footer__list a {
  padding: 5px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  user-select: none;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 19px;
  }
}

.footer__list li {
  margin-left: 40px;

  @media (max-width: 1199px) {
    margin-left: 30px;
  }

  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 11px;
    margin-right: 75px;
  }
}

.footer__list li:first-child {
  @media (max-width: 767px) {
    margin-top: 53px;
  }
}

.footer__socials {
  display: flex;
  max-width: 110px;
  flex-wrap: wrap;
  color: #ffffff;

  @media (max-width: 767px) {
    margin-top: 26px;
  }
}

.footer__socials a {
  display: flex;
  padding: 5px 0;
  margin-right: 11px;
}

.footer__socials a:last-child {
  margin-right: 0;
}
