.information {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  padding-bottom: 235px;

  @media (max-width: 1199px) {
    padding-top: 101px;
    padding-bottom: 127px;
  }

  @media (max-width: 767px) {
    padding: 64px 0 71px;
  }
}

.information__row {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.information__left-side {
  max-width: 355px;
  margin-left: 60px;

  @media (max-width: 1199px) {
    max-width: none;
    margin-left: 0;
  }
}

.information h2 {
  margin-bottom: 0;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    margin: 0;
    font-size: 42px;
    line-height: 50px;
    justify-content: center;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 0.03em;
    color: #102654;
  }
}

.information h3 {
  margin: 0;
  margin-top: 6px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #102654;

  @media (max-width: 1199px) {
    margin-top: 0;
    margin-bottom: 34px;
    justify-content: center;
  }

  @media (max-width: 767px) {
    margin-bottom: 24px;
    margin-top: 5px;
    justify-content: flex-start;
    padding: 0 15px;
  }
}

.information p {
  margin-bottom: 8px;
  margin-top: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #102654;

  @media (max-width: 1199px) {
    margin: 0 auto;
    text-align: center;
    max-width: 503px;
  }

  @media (max-width: 767px) {
    max-width: none;
    padding: 0 50px 0 15px;
    text-align: left;
    margin: 0;
  }
}

.information__left-side p:last-child {
  @media (max-width: 1199px) {
    display: none;
  }
}

.information__right-side {
  position: relative;
  width: 100%;
  max-width: 660px;
  min-height: 401px;
  display: block;

  @media (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 42px;
    max-width: 678px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin: 33px auto 0;
  }
}

.information__image {
  width: 100%;
  height: 401px;
  background-image: image-set("../img/information/informationphoto.png" 1x, "../img/information/informationphoto2x.png" 2x);

  @media (max-width: 1199px) {
    height: 345px;
    background-image: image-set("../img/information/informationphototab.png" 1x, "../img/information/informationphototab2x.png" 2x);
  }

  @media (max-width: 767px) {
    height: 313px;
  }
}
