.main-block {
  padding: 0 var(--side-offset, 20px);
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  padding-top: 51px;
  padding-bottom: 51px;
}

.main-block__row {
  display: flex;
}

.main-block__left-side {
  display: flex;
  margin-right: 65px;
}

.main-block__right-side {}