.stock-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 211px;
  padding: 27px;
  border: 7px solid transparent;
  border-image: linear-gradient(to top left, rgba(0, 53, 159, 1), rgba(209, 10, 66, 1),);
  border-image-slice: 1;

  @media (max-width: 1199px) {
    max-width: none;
  }

  @media (max-width: 767px) {
    padding: 27px 27px 38px;
    text-align: center;
    margin: 0 auto;
    max-width: none;
  }
}

.stock-card h3 {
  margin: 0;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  align-items: center;
  color: #1c3374;

  @media (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 11px;
  }
}

.stock-card p {
  margin: 0;
  margin-bottom: 0.5em;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  color: #1c3374;
}

.stock-card a {
  margin-top: auto;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1c3374;

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.stock-card a::after {
  content: "";
  padding-top: 3px;
  display: block;
  width: 68px;
  border-bottom: 1px solid #1c3374;
}
.stock-card--one {
  grid-area: card3;
}
.stock-card--two {
  grid-area: card4;
}