.stock {
  padding: 0 var(--side-offset, 20px);
  padding-bottom: 50px;

  @media (max-width: 1199px) {
    padding-top: 64px;
  }

  @media (max-width: 767px) {
    padding-top: 34px;
  }
}

.stock a {
  transition: all 0.2s;

  &:hover,
  &:focus {
    color: #868686;
  }
}

.stock__title {
  margin-top: 30px;
  margin-bottom: 36px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    margin-bottom: 39px;
    font-size: 42px;
    line-height: 50px;
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.stock__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @media (max-width: 1199px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.stock__left-block {
  max-width: 560px;
  min-height: 462px;
  display: flex;

  @media (max-width: 1199px) {
    width: 100%;
    margin: 0 auto;
    max-width: none;
    min-height: 462px;
  }

  @media (max-width: 767px) {
    width: none;
    max-width: none;
    flex-direction: column;
    min-height: none;
  }
}

.stock__promo {
  padding: 34px 45px 45px;
  display: flex;
  flex-direction: column;
  background: #ed0233;
  max-width: 280px;
  max-height: 462px;

  @media (max-width: 1199px) {
    width: 100%;
    max-width: none;
  }

  @media (max-width: 767px) {
    text-align: center;
    min-width: 240px;
    max-width: none;
    margin: 0 auto;
  }
}

.stock__promo h4 {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 156%;
  align-items: center;
  color: #ffffff;
}

.stock__promo h3 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  align-items: center;
  color: #ffffff;
}

.stock__promo p {
  margin: 0;
  margin-top: 23px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  align-items: center;
  color: #ffffff;

  @media (max-width: 767px) {
    text-align: center;
    margin: 19px 0 0;
  }
}

.stock__button {
  display: flex;
  margin-top: auto;
}

.stock__promo a {
  display: inline-block;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: 767px) {
    margin: 0 auto;
    margin-top: 32px;
    text-align: start;
  }
}

.stock__promo a::after {
  content: "";
  padding-top: 3px;
  display: block;
  width: 79px;
  border-bottom: 1px solid #ffffff;
}

.stock__image img {
  min-width: 280px;
  height: 100%;
  object-fit: cover;

  @media (max-width: 1199px) {
    min-width: 399px;
  }

  @media (max-width: 767px) {
    object-fit: inherit;
    width: 100%;
    aspect-ratio: 290 / 299;
    min-width: 290px;
    min-height: 292px;
    margin: 0 auto;
  }
}

.stock__image {
  display: block;

  @media (max-width: 1199px) {
    width: 100%;
    max-width: 399px;
    max-height: 462px;
  }

  @media (max-width: 767px) {
    max-width: none;
    max-height: none;
    min-width: 290px;
    min-height: 292px;
  }
}

.stock__right-block {
  width: 100%;
  display: grid;
  gap: 40px;


  @media (max-width: 1199px) {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}
