.subscription {
  padding: 0 var(--side-offset, 20px);
  padding-top: 120px;
  background: #f8f9fc;
  padding-bottom: 120px;
  position: relative;

  @media (max-width: 1199px) {
    padding-top: 102px;
    padding-bottom: 100px;
  }

  @media (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 69px;
  }
}

.subscription__title {
  margin: 0;
  display: block;
  text-align: center;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 50px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 38px;
    align-items: center;
  }
}

.subscription__image {
  position: absolute;
  right: -13.5%;
  top: 60%;

  @media (max-width: 1199px) {
    width: 420px;
    right: -9.5%;
    top: 82%;
  }

  @media (max-width: 767px) {
    display: none;
  }
}