.swiper__prev {
  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }
}

.swiper__next {
  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}