.swiper__prev {
  stroke: #afafaf;
  fill: #afafaf;

  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }

  &::hover {
    stroke: #7a7a7a;
  }
}

.swiper__next {
  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}