.tabs__list {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 341px;
  margin-top: 5px;

  @media (max-width: 1199px) {
    max-width: 333px;
    margin: 8px auto 10px;
    // border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  }

  @media (max-width: 767px) {
    max-width: 290px;
    margin: 11px auto 10px;
  }
}

.tabs__list::before {
  content: "";
  bottom: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(120, 120, 120, 0.2);
}

.tabs__item {
  border: none;
  padding: 11px 0;
  background: none;
  margin-right: 46px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: rgba(16, 38, 84, 0.5);

  // @media (max-width: 1199px) {
  //   font-size: 18px;
  //   align-items: center;
  // }

  // @media (max-width: 767px) {
  //   font-size: 16px;
  // }

  @media (max-width: 1199px) {
    margin-right: 55px;
  }

  @media (max-width: 767px) {
    margin-right: 45px;
  }

  &:hover {
    color: #102654;
    cursor: pointer;
  }
}

.tabs__item--active {
  border-bottom: 2px solid #d10a42;
}

.tabs__item:last-child {
  margin-right: 0;
}

.tabs__body {
  margin-top: 40px;

  @media (max-width: 1199px) {
    margin-top: 44px;
  }

  @media (max-width: 767px) {
    margin-top: 34px;
  }
}

.tabs__block {
  display: none;
  justify-content: space-between;
}

.tabs__block--active {
  display: flex;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.tabs__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  width: 100%;
  max-width: 360px;
  background: #ffffff;
  border: 7px solid #ffffff;
  z-index: 2;

  @media (max-width: 1199px) {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 442px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    padding: 20px 35px;
    margin-bottom: 35px;
  }
}

.tabs__card:last-child {
  @media (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.tabs__card h3 {
  margin-top: 15px;
  margin-bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: #102654;

  @media (max-width: 1199px) {
    margin-top: 16px;
  }

  @media (max-width: 767px) {
    margin-top: 24px;
    font-size: 22px;
    line-height: 110.16%;
  }
}

.tabs__price {
  margin: 0 auto;
  position: relative;
  display: block;
  margin-top: 47px;

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 150%;
  align-items: center;
  color: #103aae;
  z-index: 2;

  @media (max-width: 767px) {
    margin: 36px auto 0;
    font-size: 48px;
    line-height: 150%;
  }
}

.tabs__icon {
  margin-left: 14px;

  @media (max-width: 767px) {
    margin-left: 11px;
  }
}

.tabs__card p {
  margin-top: 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  align-items: center;
  color: #495a7d;
}

.tabs__card:hover {
  border: 7px solid transparent;
  border-image: linear-gradient(to top left, rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
  border-image-slice: 1;

  .tabs__button {
    color: #ffffff;
    border: none;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  }
}

.tabs__price-shadow {
  bottom: -7px;
  left: -19px;
  position: absolute;

  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #e8e8e8;
  opacity: 0.48;
  z-index: -2;

  @media (max-width: 767px) {
    bottom: -4px;
    left: -15px;
    font-size: 80px;
  }
}

.tabs__button {
  display: block;
  max-width: 206px;
  margin: 0 auto;
  margin-top: 33px;
  margin-bottom: 20px;
  padding: 25px 42px;

  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #102654;
  border: 2px solid #102654;

  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    max-width: none;
    width: 100%;
    margin: 30px auto 25px;
  }
}