.trainer {
  padding: 0 var(--side-offset2, 20px);
  padding-bottom: 90px;

  @media (max-width: 1199px) {
      padding-bottom: 100px;
  }
  @media (max-width: 767px) {
    padding-bottom: 71px;
  }
}

.trainer h2 {
  margin: 0;
  margin-left: 58px;
  margin-bottom: 50px;
  font-family: $ff-accent;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #102654;

  @media (max-width: 1199px) {
    margin-left: 0;
    margin-bottom: 32px;
    text-align: center;
    font-size: 42px;
    line-height: 50px;
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38px;
  }
}

.trainer__row {
  display: flex;
  position: relative;

  @media (max-width: 1199px) {
    margin: 0 auto;
    max-width: 678px;
  }
    @media (max-width: 767px) {
      max-width: none;
  }
}

.trainer__navigation {
  position: absolute;
    top: 50%;
    margin-top: -18px;
    display: flex;
    justify-content: space-between;
    width: 100%;

  @media (max-width: 767px) {
    width: 100%;
    margin-top: -11px;
  }
}

.trainer__prev {
  position: absolute;
  // left: -5%;
  left: 0;
  @media (max-width: 1199px) {
    left: 0;
  }

  @media (max-width: 767px) {
  }
}

.trainer__next {
  position: absolute;
  // right: -5%;
  right: 0;

  @media (max-width: 1199px) {
    right: 0;
  }

  @media (max-width: 767px) {
  }
}

.trainer__swiper {
  margin: 0 auto;
  width: calc(100% - 110px);

  @media (max-width: 1199px) {
    max-width: 566px;
  }
  @media (max-width: 767px) {
    max-width: none;
  width: calc(100% - 64px);
  }
}

.trainer__prev-icon {
  cursor: pointer;
  transition: all 0.2s;

  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.trainer__next-icon {
  cursor: pointer;
  transition: all 0.2s;

  @media (max-width: 767px) {
    width: 11px;
    height: 22px;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
.trainer__slide {
  width: 260px;
}
