.trainer-card {
  position: relative;
  padding: 20px;

  color: #f9fbfd;
  overflow: hidden;

  transition: {
    property: background-color, box-shadow;
    duration: 0.2s;
    timing-function: ease-in;
  }

  width: 260px;
  height: 294px;

  &:hover,
  &:focus-within {
    background: rgba(16, 38, 84, 0.89);
    padding: 50px 20px;
  }

  &:hover .trainer-card__title,
  &:focus-within .trainer-card__title,
  &:hover .trainer-card__subtitle {
    transform: none;
  }

  &:hover .trainer-card__info,
  &:focus-within .trainer-card__info {
    opacity: 1;
    transform: none;
  }

  @media (max-width: 1199px) {
    width: 268px;
  }

  @media (max-width: 767px) {
    width: 226px;
    height: 274px;

    &:hover {
      padding: 42px 20px;
    }
  }
}

.trainer-card__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.trainer-card__title {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  z-index: 1;
  text-align: center;
  transform: translateY(294px - 70px);

  transition: {
    property: transform;
    duration: 0.3s;
    timing-function: ease-in-out;
  }
}

.trainer-card__subtitle {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: block;
  align-items: center;
  color: #B6BDCC;
  text-align: center;
  transform: translateY(294px - 50px);

  transition: {
    property: transform, opacity;
    duration: 0.3s, 1s;
    timing-function: ease-in-out;
  }
}

.trainer-card__info {
  margin: 0;
  margin-top: 29px;
  list-style-type: disc;
  padding: 0;
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0;
  transform: translateY(294px);
  opacity: 0;

  transition: {
    property: transform, opacity;
    duration: 0.3s, 1s;
    timing-function: ease-in-out;
  }

  @media (max-width: 767px) {
    padding: 0 0 0 30px;
  }
}

.trainer-card__value {
  margin-top: 13px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  color: #FFFFFF;
}