.video {
  position: absolute;
  width: 364px;
  height: 228px;
  top: 289px;
  left: -10%;
  background: rgba(20, 54, 122, 0.5);

  @media (max-width: 1199px) {
    width: 267px;
    height: 167px;
    left: 30.3%;
    top: 261px;
  }

  @media (max-width: 767px) {
    position: static;
    display: flex;
    margin: 0 auto;
    width: 320px;
    height: 167px;
    margin-top: 40px;
  }
}

.video__overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 54, 122, 0.5);
  z-index: 2;
  cursor: pointer;

}

.video__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  background-color: #000000;

  @media (max-width: 767px) {
    padding-bottom: 52.25%;
  }
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @media (max-width: 1199px) {
    width: 73px;
    height: 73px;
  }
}

/* Enabled */

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}